@import "./variables.scss";


$--color-primary: $primary;
$--color-white: #1E2336;
$--background-color-base: #1E2336;
$--color-black: #090D16;
$--border-color-base: #292F47;
$--color-text-primary: #BFCBD9;
$--color-text-regular: #BFCBD9;
$--color-text-secondary: #8D9AA9;
$--color-info: #986ADD;
$--border-color-light: #1E2334;
$--border-color-lighter: #282E43;
$--border-color-extra-light: #2E334A;
$--color-text-placeholder: #65788F;
$--color-warning: #EA7516;
$--color-danger: #EB456C;
$--tooltip-border-color: $--color-primary;
$--tooltip-fill: #502493;
$--tooltip-color: $--color-info;
$--tree-font-color: $--color-text-regular;
$--tree-expand-icon-color: $--color-info;
$--tree-node-hover-background-color: $--border-color-extra-light;
$--pagination-background-color: $--color-black;
$--pagination-button-disabled-background-color: $--color-black;
$--table-font-color: $--color-text-regular;
$--table-header-font-color: $--color-info;
$--table-row-hover-background-color: $--border-color-base;
$--table-header-background-color: $--background-color-base;


/* icon font path, required */
$--font-path: "~element-ui/lib/theme-chalk/fonts";

@import "~element-ui/packages/theme-chalk/src/index";

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  theme: $--color-primary;
}
